<header class="header">
  <nav>
    <ul class="navbar">
      <li class="nav_item"><a href="/">Shop</a></li>
      <li class="nav_item"><a href="/admin/add-product">Add Product</a></li>
      <li class="nav_item"><a href="/admin/products-list">Admin Product</a></li>
      <li class="nav_item"><a href="/cart">Cart</a></li>
      <li class="nav_item"><a href="/orders">Orders</a></li>
      <!-- <li class="nav_item"><a href="/admin/add-product">Add Product</a></li> -->
    </ul>
  </nav>
</header>
