<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/main.css"></link>
    <link rel="stylesheet" href="/css/add-product.css"></link>
  </head>

  <body>
    <header class="header">
        <nav>
          <ul class="navbar">
            <li class="nav_item"><a href="/">Shop</a></li>
            <li class="nav_item"><a href="/admin/add-product">Add Product</a></li>
          </ul>
        </nav>
      </header>

    <main class="main_form">
      <form action="/admin/add-product" method="POST">
          <label>Product Name</label> <br/>
          <input type="text" name="title" class="textField"/>
        <button type="submit" class="button">Add Product</button>
      </form>
    </main>
  </body>
</html>
