<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css"></link>
  </head>
  <body>
    <header class="header">
        <nav>
          <ul class="navbar">
            <li class="nav_item"><a href="/">Shop</a></li>
            <li class="nav_item"><a href="/admin/add-product">Add Product</a></li>
          </ul>
        </nav>
      </header>
    <main class="products-section">
      <!-- <h1>My Products</h1> -->
      <% if(products.length==0){ %>
        <h1> No products found </h1>
      <% } else { %>
        <div class="products">
        <% for(const product of products){ %>
            <div class="item_card">
                <div class="item_description">
                    <img src="https://images.all-free-download.com/images/graphicwebp/guest_book_guest_book_guestbook_224717.webp" alt="Book image" />
                    <br>
                    <b>Item name:</b>
                    <span> <%= product.title %></span>
                    <br>
                    <b>Price:</b>
                    <span> £20.00 </span>
                    <button> Add to cart</button>
                </div>
            </div>
            <% } %>
        </div>
        
      <% } %>
     

    </main>
  </body>
</html>
