header {
  height: 56px;
  width: 100%;
  background: rgb(255, 206, 47);
  padding: 10px;
}
.navbar {
  list-style-type: none;
}
.nav_item {
  display: inline;
  text-decoration: none;
  padding: 20px;
}

.nav_item a {
  text-decoration: none;
}

.item_card {
  box-shadow: 2px 2px 2px 2px grey;
  width: 300px;
}

img {
  height: 250px;
  width: 245px;
}

.item_description {
  padding: 20px;
}

.products-section {
  margin-top: 20px;
}

.products {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.item-title {
  text-align: center;
  margin: 10px;
}
.product_details {
  text-align: center;
}
