header {
  height: 56px;
  width: 100%;
  background: rgb(255, 206, 47);
  padding: 10px;
}
.navbar {
  list-style-type: none;
}
.nav_item {
  display: inline;
  text-decoration: none;
  padding: 20px;
}

.nav_item a {
  text-decoration: none;
}
